/* type - - - - - - -  */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: local(""),
    url("/assets/fonts/scp/source-code-pro-v21-latin-300.woff2") format("woff2"),
    url("/assets/fonts/scp/source-code-pro-v21-latin-300.woff") format("woff");
}

/* source-code-pro-regular - latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local(""),
    url("/assets/fonts/scp/source-code-pro-v21-latin-regular.woff2")
      format("woff2"),
    url("/assets/fonts/scp/source-code-pro-v21-latin-regular.woff")
      format("woff");
}
body {
  font-family: Source Code Pro, sans-serif;
  font-size: var(--step-0);
  font-weight: 300;
}
strong {
  font-weight: 1000;
}
small {
  font-size: var(--step-0);
}
:where(h1, h2, h3, h4) {
  font-weight: 300;
  line-height: 1;
  overflow-wrap: break-word;
}
h1 {
  font-size: var(--step-7);
  font-weight: 400;
}
h2 {
  font-size: var(--step-5);
}
h3 {
  font-size: var(--step-3);
}
h4 {
  font-size: var(--step-2);
}
:where(h1, h2, h3, h4, p) {
  margin-bottom: 0.5em;
}
hr {
  opacity: 0.5;
  border-style: solid;
  border-color: currentColor;
  border-width: 0.5px;
  --flow-gap: 1rem;
  margin-top: var(--flow-gap, 1rem);
  margin-bottom: var(--flow-gap, 1rem);
}
p {
  max-width: 70ch;
}
figcaption {
  margin-top: var(--space-xs);
  font-style: italic;
  font-size: var(--step-0);
}

article > :not(h1, h2, h3, h4, p) {
  margin-block: var(--space-s);
}
