---
title: "Second Post"
date: 2022-06-04
postTags:
    - web
---
<p style="color:red">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis ipsum quo eum fugit sapiente cupiditate, perferendis labore voluptatibus quibusdam magni repellendus! Tempore animi cumque praesentium enim quisquam natus suscipit totam.</p>
